:root {
  --primary-color: #fd94b4;
  --secondary-color: #ffa8e9;
  --third-color: #ff89c0;
  --border: 1px solid #dd60b4;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --background: #e7b8e9;
}
body {
  background-color: var(--background);
}
footer {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}
.navbar {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.bg-light {
  background-color: var(--third-color) !important;
}
.hero {
  text-align: center;
  margin-top: 25px;
}
.links {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.aboutMe {
  border: var(--border);
  border-radius: 2px;
  background: var(--primary-color);
  text-decoration: none;
  margin-right: 50px;
  padding: 10px 20px;
}
.myWork {
  border: var(--border);
  background: var(--secondary-color);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 2px;
}
.contactMe {
  border: var(--border);
  background: var(--third-color);
  text-decoration: none;
  margin-left: 50px;
  padding: 10px 20px;
  border-radius: 2px;
}
.weatherBtn {
  border: var(--border);
  background: var(--primary-color);
  padding: 10px 20px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 18px;
}
.weatherProject {
  margin-top: 100px;
}
.roboto {
  font-family: "Roboto Slab", serif;
}
.nunito {
  font-family: "Nunito", sans-serif;
}
.headingSize {
  font-size: 46px;
}
.paragraphSize {
  font-size: 18px;
}
