:root {
  --primary-color: #fd94b4;
  --secondary-color: #ffa8e9;
  --third-color: #ff89c0;
  --border: 1px solid #dd60b4;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --background: #e7b8e9;
}
body {
  background-color: var(--background);
  margin: 0 auto;
}
footer {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}
ul,
li {
  list-style: none;
  padding: 0;
}
.navbar {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.bg-light {
  background-color: var(--third-color) !important;
}
.hero {
  text-align: center;
  margin-top: 25px;
}
.links {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.aboutMe {
  border: var(--border);
  border-radius: 2px;
  background: var(--primary-color);
  text-decoration: none;
  margin-right: 50px;
  padding: 10px 20px;
}
.myWork {
  border: var(--border);
  background: var(--secondary-color);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 2px;
}
.contactMe {
  border: var(--border);
  background: var(--third-color);
  text-decoration: none;
  margin-left: 50px;
  padding: 10px 20px;
  border-radius: 2px;
}
.weatherBtn {
  border: var(--border);
  background: var(--primary-color);
  padding: 10px 20px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 18px;
}
.weatherProject {
  margin-top: 100px;
}
.roboto {
  font-family: "Roboto Slab", serif;
}
.nunito {
  font-family: "Nunito", sans-serif;
}
.headingSize {
  font-size: 46px;
}
.paragraphSize {
  font-size: 18px;
}
.border {
  border-color: #dd60b4 !important;
  box-shadow: var(--box-shadow);
}
.aboutMeHeading {
  padding-top: 100px;
}
.aboutImg {
  border-radius: 50%;
  padding: 80px;
}
.whyMeBtn {
  color: #ff00aad0;
  border: var(--border);
  background: var(--secondary-color);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
}
.aboutP {
  margin-top: 65px;
  font-size: 25px;
  padding: 25px 80px;
}
.boxShadow {
  box-shadow: var(--box-shadow);
}
.whyBox {
  border: var(--border);
  background: var(--secondary-color);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
  margin-top: 100px;
}
.pcBox {
  border: var(--border);
  background: var(--secondary-color);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
  margin-top: 100px;
}
.hoverwrap {
  position: relative;
}
.hovercap {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #8a42699c;
  color: white;
}
.hovercap {
  visibility: none;
  opacity: 0;
  transition: opacity 0.3s;
}
.hoverwrap:hover .hovercap {
  visibility: visible;
  opacity: 1;
}
.food {
  border-radius: 10px;
}
.thankYou {
  margin-top: 100px;
  text-align: center;
}
.emailBox {
  background-color: #ff41c081;
  border-radius: 10px;
}
.messageBox {
  border-radius: 10px;
  margin-top: 10px;
  width: 50%;
  padding-bottom: 325px;
  background-color: #fdaee3a2;
}
.sendBtn {
  margin-top: 25px;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 18px;
  background: var(--primary-color);
}
.grateful {
  font-size: 18px;
  font-style: italic;
}
.contactIcons {
  font-size: 25px;
}
.contactFooter {
  padding-left: 5px;
  text-decoration: none;
  color: rgb(89, 89, 233);
}
.contactFooter:hover {
  color: #dd60b4;
}
.pcBox:hover {
  background: var(--third-color);
}
.whyBox:hover {
  background: var(--primary-color);
}
.pcText {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
.thankYouImg {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  padding: 50px;
  opacity: 70%;
}
::placeholder {
  color: #000000;
}
@media (max-width: 767.98px) {
  .aboutImg {
    display: none;
  }
  .aboutMeHeading {
    padding-top: 0;
    text-align: center;
    display: grid;
    position: relative;
    right: 125px;
  }
  .whyMeBtn {
    position: relative;
    bottom: 28px;
  }
  .food {
    padding-bottom: 25px;
    box-shadow: none;
  }
  .indexImg {
    display: none;
  }
  .indexMedia {
    position: relative;
    right: 93px;
    text-align: center;
  }
  .indexVegan {
    position: relative;
    left: 93px;
    text-align: center;
  }
  .mediaHeadings {
    font-size: 35px;
  }
  .messageBox {
    width: 100%;
  }
}
